body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    flex: 1;
    padding: 20px;
	margin-left: 150px;
}

.left img {
    border-radius: 10px; /* roundness of the corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.right {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-right: 150px;
	
}

.right h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
	display: flex;
    flex-wrap: wrap;
	
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 150px;
	margin-bottom: 15px;
}

.password-hint {
    color: red; 
}


button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
    transition: background-color 0.3s ease;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}
button:hover {
    background-color: #0056b3;
}