





table {
    width: 100%;
    border-collapse: collapse;
	margin-bottom: auto;
}


th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}


td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Style alternate table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style the edit and delete buttons */
button[type='submit'] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

button[type='submit']:hover {
    background-color: #45a049;
}

/* Style the container */
.existingPolicies {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Push content to top and bottom */
    min-height: 73vh; /* Make container at least full height of viewport */
    border-style: groove;
    border-color: gray;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.footer {
    margin-top: auto; /* Push footer to bottom */
}

