@charset "utf-8";

body{
    background-image : url("../images/editInq.jpg");
    background-repeat : no-repeat;
    background-size: cover;
    }

fieldset{
    height: 75%;
    width: 50%;
    border-style: hidden;
}

h1{
    color : white;
    font-family: Arial;
}
  
input[type=text], input[type=phone], input[type=email]  {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

textarea{
    width: 60%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;   
}

button {
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    width: 20%;
}

.img1{
    height: "auto";
    width: 30px;
}

.img2{
    height: "auto";
    width: 70px;
}
